{% extends "base.html" %}

{% block css_link %}
    <link rel='stylesheet' href="{{url_for('static', filename='css/form.css')}}">
{% endblock %}

{% set out_name = ['submit', 'is_finished'] %}

{% block content %}
<form action="" method="post" novalidate>
    <h3>Adding a Job</h3>
    {{form.hidden_tag()}}
    {% for field in form if field.name != 'csrf_token' and field.name not in out_name %}
        <p>
            {{field.label()}}<br>
            {{field(class='form-control')}}<br>
            {% for error in field.errors %}
                <span class="alert alert-danger" role="alert">
                    {{ error }}
                </span>
            {% endfor %}
        </p>
    {% endfor %}
    <p>{{ form.is_finished() }} {{form.is_finished.label()}}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>

{% endblock %}